//Shadow effect
$shadow-color: $light-gray;
$x-offset: 0px;

$y-offset: 20px;
$blur-radius: 70px;
$spread-radius: 20px;
$box-shadow: $x-offset $y-offset $blur-radius $spread-radius $shadow-color;

$y-offset-large: 20px;
$blur-radius-large: 80px;
$spread-radius-large: 40px;
$box-shadow-large: $x-offset $y-offset-large $blur-radius-large $spread-radius-large $shadow-color;

//Animation
$scale-middle: 0.75;
$scale-inner: 0.5;
$initial-scale: 0.4;

$scale-middle-large: 0.85;
$scale-inner-large: 0.7;

$scale-middle-tight: 0.85;
$scale-inner-tight: 0.7;
// $easing: cubic-bezier(0.000, 0.995, 0.000, 1.000);
// $easing: cubic-bezier(0.135, 1.005, 0.000, 1.105);
$time: 5s;
$easing: cubic-bezier(0.000, 1.530, 0.385, 1.005);
$initial-delay: 0s;
$delay-timestep: 0.2s;

@keyframes brand-outer {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes brand-middle {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes brand-inner {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes brand-outer-reverse {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes brand-middle-reverse {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes brand-inner-reverse {
	0% { transform: scale(0); }
	100% { transform: scale(1); }
}

@keyframes fade-in-reverse {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.brand-animation {
	position: relative;

	.layer {
		position: absolute;
		top: 0;
		left: 0;
		box-shadow: $box-shadow;
		border-radius: 50%;
		background-color: $white;

		&.outer-layer {
			width: 100%;
			height: 100%;
			z-index: 2;
			// transform: scale($initial-scale);
			transform: scale(0);
			animation: brand-outer $time $initial-delay + $delay-timestep * 2 $easing forwards;
		}

		&.middle-layer {
			width: $scale-middle * 100%;
			height: $scale-middle * 100%;
			margin: (100% - $scale-middle * 100%) / 2;
			z-index: 3;
			// transform: scale($initial-scale / $scale-middle);
			transform: scale(0);
			animation: brand-middle $time $initial-delay + $delay-timestep $easing forwards;
		}

		&.inner-layer {
			width: $scale-inner * 100%;
			height: $scale-inner * 100%;
			margin: (100% - $scale-inner * 100%) / 2;
			z-index: 4;
			// transform: scale($initial-scale / $scale-inner);
			transform: scale(0);
			animation: brand-inner $time $initial-delay $easing forwards;
		}
	}

	.animation-content {
		position: absolute;
		width: $scale-inner * 100%;
		height: $scale-inner * 100%;
		margin: (100% - $scale-inner * 100%) / 2;
		opacity: 0;
		animation: fade-in $time / 2 $initial-delay + $delay-timestep * 4 ease-in-out forwards;
		z-index: 5;
	}

	&.wait {

		.layer {

			&.outer-layer, &.middle-layer, &.inner-layer {
				animation: none;
			}
		}

		.animation-content {
			animation: none;
		}
	}

	&.reverse {

		.layer {

			&.outer-layer {
				animation-name: brand-outer-reverse;
			}

			&.middle-layer {
				animation-name: brand-middle-reverse;
			}

			&.inner-layer {
				animation-name: brand-inner-reverse;
			}

			&.outer-layer, &.middle-layer, &.inner-layer {
				transform: scale(1);
				animation-direction: reverse;
				animation-duration: 2.5s;
			}
		}

		.animation-content {
			opacity: 1;
			animation-name: fade-in-reverse;
			animation-direction: reverse;
			animation-duration: 1s;
		}
	}

	&.large {

		.layer {
			box-shadow: $box-shadow-large;

			&.middle-layer {
				width: $scale-middle-large * 100%;
				height: $scale-middle-large * 100%;
				margin: (100% - $scale-middle-large * 100%) / 2;
			}

			&.inner-layer {
				width: $scale-inner-large * 100%;
				height: $scale-inner-large * 100%;
				margin: (100% - $scale-inner-large * 100%) / 2;
			}
		}

		.animation-content {
			width: $scale-inner-large * 100%;
			height: $scale-inner-large * 100%;
			margin: (100% - $scale-inner-large * 100%) / 2;
		}
	}

	&.tight {

		.layer {

			&.middle-layer {
				width: $scale-middle-tight * 100%;
				height: $scale-middle-tight * 100%;
				margin: (100% - $scale-middle-tight * 100%) / 2;
			}

			&.inner-layer {
				width: $scale-inner-tight * 100%;
				height: $scale-inner-tight * 100%;
				margin: (100% - $scale-inner-tight * 100%) / 2;
			}
		}

		.animation-content {
			width: $scale-inner-tight * 100%;
			height: $scale-inner-tight * 100%;
			margin: (100% - $scale-inner-tight * 100%) / 2;
		}
	}
}