@font-face {
	font-family: "Libre";
	src: url("../assets/fonts/libre/LibreBaskerville-Regular.eot");
	src: url("../assets/fonts/libre/LibreBaskerville-Regular?#iefix") format("embedded-opentype"),
		url("../assets/fonts/libre/LibreBaskerville-Regular.woff2") format("woff2"),
		url("../assets/fonts/libre/LibreBaskerville-Regular.woff") format("woff"),
		url("../assets/fonts/libre/LibreBaskerville-Regular.ttf")  format("truetype"),
		url("../assets/fonts/libre/LibreBaskerville-Regular.svg#LibreBaskerville-Regular") format("svg");
}

@font-face {
	font-family: "Libre Bold";
	src: url("../assets/fonts/libre/LibreBaskerville-Bold.eot");
	src: url("../assets/fonts/libre/LibreBaskerville-Bold?#iefix") format("embedded-opentype"),
		url("../assets/fonts/libre/LibreBaskerville-Bold.woff2") format("woff2"),
		url("../assets/fonts/libre/LibreBaskerville-Bold.woff") format("woff"),
		url("../assets/fonts/libre/LibreBaskerville-Bold.ttf")  format("truetype"),
		url("../assets/fonts/libre/LibreBaskerville-Bold.svg#LibreBaskerville-Bold") format("svg");
}

@font-face {
	font-family: "Libre Italic";
	src: url("../assets/fonts/libre/LibreBaskerville-Italic.eot");
	src: url("../assets/fonts/libre/LibreBaskerville-Italic?#iefix") format("embedded-opentype"),
		url("../assets/fonts/libre/LibreBaskerville-Italic.woff2") format("woff2"),
		url("../assets/fonts/libre/LibreBaskerville-Italic.woff") format("woff"),
		url("../assets/fonts/libre/LibreBaskerville-Italic.ttf")  format("truetype"),
		url("../assets/fonts/libre/LibreBaskerville-Italic.svg#LibreBaskerville-Italic") format("svg");
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/poppins/Poppins-Regular.eot");
	src: url("../assets/fonts/poppins/Poppins-Regular?#iefix") format("embedded-opentype"),
		url("../assets/fonts/poppins/Poppins-Regular.woff2") format("woff2"),
		url("../assets/fonts/poppins/Poppins-Regular.woff") format("woff"),
		url("../assets/fonts/poppins/Poppins-Regular.ttf")  format("truetype"),
		url("../assets/fonts/poppins/Poppins-Regular.svg#Poppins-Regular") format("svg");
}

@font-face {
	font-family: "Poppins Light";
	src: url("../assets/fonts/poppins/Poppins-Light.eot");
	src: url("../assets/fonts/poppins/Poppins-Light?#iefix") format("embedded-opentype"),
		url("../assets/fonts/poppins/Poppins-Light.woff2") format("woff2"),
		url("../assets/fonts/poppins/Poppins-Light.woff") format("woff"),
		url("../assets/fonts/poppins/Poppins-Light.ttf")  format("truetype"),
		url("../assets/fonts/poppins/Poppins-Light.svg#Poppins-Light") format("svg");
}

@font-face {
	font-family: "Poppins Medium";
	src: url("../assets/fonts/poppins/Poppins-Medium.eot");
	src: url("../assets/fonts/poppins/Poppins-Medium?#iefix") format("embedded-opentype"),
		url("../assets/fonts/poppins/Poppins-Medium.woff2") format("woff2"),
		url("../assets/fonts/poppins/Poppins-Medium.woff") format("woff"),
		url("../assets/fonts/poppins/Poppins-Medium.ttf")  format("truetype"),
		url("../assets/fonts/poppins/Poppins-Medium.svg#Poppins-Medium") format("svg");
}

@font-face {
	font-family: "Poppins SemiBold";
	src: url("../assets/fonts/poppins/Poppins-SemiBold.eot");
	src: url("../assets/fonts/poppins/Poppins-SemiBold?#iefix") format("embedded-opentype"),
		url("../assets/fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
		url("../assets/fonts/poppins/Poppins-SemiBold.woff") format("woff"),
		url("../assets/fonts/poppins/Poppins-SemiBold.ttf")  format("truetype"),
		url("../assets/fonts/poppins/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
}

@font-face {
	font-family: "Poppins Bold";
	src: url("../assets/fonts/poppins/Poppins-Bold.eot");
	src: url("../assets/fonts/poppins/Poppins-Bold?#iefix") format("embedded-opentype"),
		url("../assets/fonts/poppins/Poppins-Bold.woff2") format("woff2"),
		url("../assets/fonts/poppins/Poppins-Bold.woff") format("woff"),
		url("../assets/fonts/poppins/Poppins-Bold.ttf")  format("truetype"),
		url("../assets/fonts/poppins/Poppins-Bold.svg#Poppins-Bold") format("svg");
}

$serif: "Libre", serif;
$serif-bold: "Libre Bold", serif;
$serif-italic: "Libre Italic", serif;
$sans: "Poppins Light", sans-serif;
$sans-bold: "Poppins Bold", sans-serif;

.serif {
	font-family: $serif;

	&.bold {
		font-family: $serif-bold;
		font-weight: 900;
	}

	&.italic {
		font-family: $serif-italic;
	}
}

.sans {
	font-family: $sans;

	&.bold {
		font-family: $sans-bold;
	}
}

html {
	font-size: 16px;
}

.tiniest-text {
	font-size: 0.5rem;
}

.tiny-text {
	font-size: 0.75rem;
}

.small-text {
	font-size: 1rem;
}

.med-text {
	font-size: 1.25rem;
}

.med-large-text {
	font-size: 1.75rem;
}

.large-text {
	font-size: 2rem;
}

.xlarge-text {
	font-size: 3rem;
}

.xxl-text {
	font-size: 4rem;
}

.uppercase {
	text-transform: uppercase;
}

.wide {
	letter-spacing: 3px;
}

.wider {
	letter-spacing: 5px;
}