$ar: 16 / 9;

#full {

	#content {
		height: 100vw * $ar;
		position: relative;

		#intro {
			width: 80vw;
			height: 80vw;
			position: absolute;
			top: 50% - 2%;
			left: 50%;
			transform: translate(-50%, -50%);

			.brand-animation {
				height: 100%;

				.animation-content svg {
					position: absolute;
					top: 50%;
					width: 100%;
					transform: translateY(-50%);
					padding: 20%;
				}

				&.wait {
					opacity: 0;
				}
			}
		}

		#today {
			width: 95vh;
			height: 95vh;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.brand-animation {
				height: 100%;

				.content {
					width: 60%;
					margin: 0 auto;
					text-align: center;

					.image {
						width: 40%;
						margin: 32.5% auto 10%;
					}

					.title {
						line-height: 4.5rem;
					}

					.date {
						margin: 10% 0 1%;
						line-height: 3.5rem;
					}
				}

				&.wait {
					opacity: 0;
				}
			}
		}

		#upcoming, #upcoming-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			text-align: center;

			.header, .footer {
				transition: opacity 1s ease-in-out, transform 1s ease-in-out;

				&.wait {
					opacity: 0;
					transform: translateY(50px);
				}
			}

			.header {
				display: inline-block;
				width: 30%;
				height: 20%;

				.logo {
					margin: 40% 0 5px;
				}
			}

			.event {
				width: 100%;
				height: 20%;
				margin-bottom: 3%;
				box-shadow: 0 10px 60px 20px $light-gray;
				position: relative;
				transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;

				.content-container {
					position: absolute;
					top: 50%;
					width: 100%;
					height: 70%;
					transform: translateY(-50%);
					box-shadow: 0 10px 80px 40px $light-gray;
					transition: box-shadow 1s ease-in-out 0.4s, transform 1s ease-in-out 0.4s;

					.content {
						transition: opacity 0.5s ease-in-out 1.2s;

						.image {
							height: 30%;
							margin-top: 3%;
						}
					}
				}

				&.wait {
					box-shadow: none;
					transform: scaleY(0.1);
					transition: box-shadow 1s ease-in-out 0.8s, transform 1s ease-in-out 0.8s;

					.content-container {
						box-shadow: none;
						transform: translateY(-50%) scaleY(0.1);
						transition: box-shadow 1s ease-in-out 0.3s, transform 1s ease-in-out 0.3s;

						.content {
							transition: opacity 0.5s ease-in-out;
							opacity: 0;
						}
					}
				}
			}

			.footer {
				height: 11%;

				.footer-text {
					padding-top: 5%;
				}
			}
		}

		#vote, #vote-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;

			.header, .option-container, .vote {
				transition: opacity 1s ease-in-out, transform 1s ease-in-out;

				&.wait {
					pointer-events: none;
					opacity: 0;
					transform: translateY(50px);
				}
			}

			.header {
				display: inline-block;
				width: 80%;

				.logo {
					width: 30%;
					margin: 15% auto;
				}

				.questions {
					height: 10%;
					position: relative;

					.question {
						position: absolute;
						top: 0;
						width: 100%;
						line-height: 3.5rem;
						opacity: 0;
						pointer-events: none;
						transition: opacity 1s ease-in-out;

						&.active {
							opacity: 1;
							pointer-events: all;
							transition: opacity 1s ease-in-out 1s;
						}
					}
				}
			}

			.surveys {
				height: 50%;
				position: relative;

				.options {
					position: absolute;
					top: 0;
					left: 50%;
					width: 100%;
					transform: translateX(-50%);
					padding: 0 10%;
					opacity: 0;
					pointer-events: none;
					transition: opacity 1s ease-in-out;

					.option-container {
						display: inline-block;
						width: 100%;
						margin: 4% 0;

						.option {
							box-shadow: 0 15px 40px 20px $light-gray;
							padding: 0 4%;
							text-align: center;
							border: 1px solid $white;
							cursor: pointer;
							transition: box-shadow 0.3s, border-color 0.3s, color 0.3s, background-color 0.3s;

							.option-name {
								padding: 7% 0;
							}

							// &:hover {
							// 	border-color: $gray;
							// 	box-shadow: none;
							// }

							&.active {
								color: $white;
								border-color: $black;
								background-color: $black;
								box-shadow: none;
							}
						}
					}

					&.active {
						opacity: 1;
						pointer-events: all;
						transition: opacity 1s ease-in-out 1s;
					}
				}
			}

			.vote {
				margin-top: 7%;

				p {
					display: inline-block;
					border: 1px solid $dark-gray;
					padding: 3% 10%;
					position: relative;
					overflow: hidden;
					color: $black;
					background-color: $white;
					transition: color 1s ease-in-out, background-color 1s ease-in-out;
					// transition: color 0.3s;
					cursor: pointer;

					span {
						position: relative;
						z-index: 1;
					}

					&:before {
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: $black;
						transform: scaleX(0);
						transform-origin: 50% 50%;
						transition: transform 0.3s;
					}
				}

				&.active p {
					color: $white;
					background-color: $black;

					// &:before {
					// 	transform: none;
					// }
				}
			}

			.confirmation {
				position: relative;
				margin-top: 5%;
				transition: opacity 1s ease-in-out, transform 1s ease-in-out;

				span {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					transition: opacity 0.6s ease-in-out 0.6s;

					&:not(.active) {
						opacity: 0;
						pointer-events: none;
						transition: opacity 0.6s ease-in-out;
					}
				}

				&.wait {
					opacity: 0;
					transform: translateY(50px);
				}
			}
		}

		#interactive-overlay-popup {
			position: absolute;
			bottom: 250px;
			right: 0;
			transform: translateX(100%);
			transition: transform 1s ease-in-out;
			background-color: $black;
			color: $white;
			z-index: 9;

			p {
				padding: 20px 30px 15px;
				line-height: 3.1rem;
				text-indent: 4px;
			}

			&.active {
				transform: none;
			}
		}

		#interactive-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background-color: $white;
			z-index: 10;
			opacity: 0;
			pointer-events: none;
			transition: opacity 1s ease-in-out;

			.header {
				// position: absolute;
				// top: 0;
				// left: 0;
				// width: 50vw;
				// height: 50vw;
				// margin: -200px 25vw 50px;

				// .brand-animation {
				// 	height: 100%;

				// 	.animation-content svg {
				// 		position: absolute;
				// 		top: 50%;
				// 		width: 100%;
				// 		transform: translateY(-50%);
				// 		padding: 20%;
				// 	}
				// }

				.logo {
					width: 250px;
					margin: 50px auto;

					svg {
						width: 100%;
					}
				}

				// .tabs {
				// 	margin: 20px;
				// 	padding: 20px 0;
				// 	border-top: 1px solid $black;
				// 	font-size: 0;

				// 	.tab {
				// 		display: inline-block;
				// 		// width: calc(33% - 20px);
				// 		width: calc(50% - 17px);
				// 		border: 1px solid $black;
				// 		text-align: center;
				// 		cursor: pointer;

				// 		&:nth-child(2) {
				// 			// margin: 0 30px;
				// 			margin-left: 30px;
				// 		}

				// 		&.active {
				// 			background-color: $black;
				// 			color: $white;
				// 		}
				// 	}
				// }
			}

			.sections {
				position: relative;

				.section {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					opacity: 0;
					pointer-events: none;
					transition: opacity 1s ease-in-out;

					&.about {
						text-align: center;
						padding: 0 100px;

						.title {
							margin: 20px 0;
						}

						.spaces {
							margin-top: 175px;
							font-size: 0;

							.space {
								display: inline-block;
								vertical-align: top;
								width: calc(33% - 40px);
								margin: 20px;

								.image-container {
									width: 100%;
									padding-bottom: 100%;
									border-radius: 50%;
									box-shadow: 0px 25px 40px 10px $light-gray;
									background-color: $white;
									position: relative;

									.image {
										position: absolute;
										top: 10%;
										left: 10%;
										width: 80%;
										padding-bottom: 80%;
										border-radius: 50%;
										background-size: cover;
										background-position: center;
									}
								}

								.space-title {
									margin-top: 30px;
								}
							}
						}

						.vote-title {
							margin: 175px 0 40px;
						}

						.vote-link {

							p {
								display: inline-block;
								border: 1px solid $dark-gray;
								padding: 3% 10%;
								position: relative;
								overflow: hidden;
								color: $black;
								background-color: $white;
								transition: color 1s ease-in-out, background-color 1s ease-in-out;
								// transition: color 0.3s;
								cursor: pointer;

								span {
									position: relative;
									z-index: 1;
								}

								&:before {
									content: "";
									display: block;
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									background-color: $black;
									transform: scaleX(0);
									transform-origin: 50% 50%;
									transition: transform 0.3s;
								}
							}

							&.active p {
								color: $white;
								background-color: $black;

								// &:before {
								// 	transform: none;
								// }
							}
						}

						.legalese {
							position: fixed;
							bottom: 50px;
							left: 50%;
							width: 100%;
							transform: translate(-50%);
						}
					}

					&.upcoming {
						height: calc(100vh - 100px);

						#upcoming-overlay {

							.event {
								height: 25%;

								.content-container {
									height: 75%;
								}
							}
						}
					}

					&.vote {
						height: calc(100vh - 100px);

						.header {
							padding-top: 100px;
						}

						.about-link {
							position: relative;
							left: -12px;
							margin: 200px auto 0;

							img {
								width: 25px;
								height: 25px;
								margin: 0 5px -1px 0;
								padding: 5px;
								transform: rotate(90deg);
							}
						}

						&:not(.active) {

							.surveys .options.active, .header .questions .question.active {
								pointer-events: none;
							}
						}
					}
				}
			}

			&.active {
				opacity: 1;
				pointer-events: all;

				.sections .section.active {
					opacity: 1;
					pointer-events: all;
					transition: opacity 1s ease-in-out 1s;

					.wait {
						opacity: 1 !important;
					}
				}
			}
		}
	}

	&.fallback #link {
		position: absolute;
		bottom: 175px;
		width: 100%;
		text-align: center;

		p {
			display: inline;
			background-color: $white;
			box-shadow: 0 2px 10px 2px $gray;
			padding: 20px;
		}
	}
}