#square {

	* {
		pointer-events: none;
	}

	.overlay {
		position: fixed;
		left: 0;
		width: 100vw;
		background-color: $black;
		z-index: 10000;

		&#overlay-1 {
			top: 0;
		}
	}

	#content {
		height: 100vw;
		position: relative;

		#intro, #space-intro {
			width: 70vw;
			height: 70vw;
			position: absolute;
			top: 50% - 2%;
			left: 50%;
			transform: translate(-50%, -50%);

			.brand-animation {
				height: 100%;

				&.wait {
					opacity: 0;
				}
			}
		}

		#intro .brand-animation .animation-content svg {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			padding: 20%;
		}

		#space-intro .brand-animation .animation-content .content {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			text-align: center;

			.logo {
				padding: 0 30%;
			}
		}

		#happening-now {
			width: 125vw;
			height: 125vw;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			.brand-animation {
				height: 100%;

				.content {
					width: 60%;
					margin: 0 auto;
					text-align: center;

					.image {
						width: 40%;
						margin: 32.5% auto 10%;
					}

					.title {
						line-height: 4.5rem;
					}

					.date {
						margin: 10% 0 1%;
						line-height: 3.5rem;
					}
				}

				&.wait {
					opacity: 0;
				}
			}
		}

		#upcoming {

			.header {
				height: 20%;
				padding: 3% 0;
				text-align: center;
				transition: opacity 1s ease-in-out, transform 1s ease-in-out;

				.logo {
					width: 20%;
					margin: 0 auto;
				}

				.title {
					margin-top: 1%;
				}

				&.wait {
					opacity: 0;
					transform: translateY(50px);
				}
			}

			.events-slider {
				height: 80%;

				.event {
					position: relative;
					outline: none;

					.slide-content {
						width: 65vw;
						height: 65vw;
						position: absolute;
						top: 50% - 2%;
						left: 50%;
						transform: translate(-50%, -50%);

						.brand-animation {
							height: 100%;

							.content {
								width: 100%;
								padding: 5%;
								text-align: center;

								.icon {
									height: 25%;
									margin: 10% auto 3%;
								}

								.title {
									line-height: 3rem;
									margin-bottom: 3%;
								}
							}

							&.wait {
								opacity: 0;
							}
						}
					}
				}
			}
		}
	}
}